.body {
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 10px);
  gap: 2px;
  padding: 10px;
  background: #333;
  width: fit-content;
}

.cell {
  width: 10px;
  height: 10px;
  background: black;
  transition: background-color 0.3s;
}

.alive {
  background: white;
}
